
@{
    ViewData["Title"] = "CheckBox";
}

<h1>CheckBox</h1>

<form method="post">
    Text
    <input type="checkbox" value="true" name="isSelected" />
    <br />
    <input type="submit" value="Submit" />
</form>