
@{
    ViewData["Title"] = "TextArea";
}

<h1>TextArea</h1>


<form method="post">
    Text
    <textarea name="text"></textarea>
    <br>
    <input type="submit" value="Submit" />
</form>